<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stretchyourbody">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StretchYOURBody"
        android:usesCleartextTraffic="true">
<!--        <activity-->
<!--            android:name=".Animation"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".ExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".TrainingStartActivity"
            android:exported="false" />
        <activity
            android:name=".AddTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".AddExercisesToTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.StretchYOURBody.NoActionBar" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Animation"
            android:screenOrientation="sensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>